.card-img-top{
    background-image: url(images/htc1.png);
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
img{
  max-width: 100%;
}
